<ion-header>
  <ion-toolbar>
    <ion-title>sources</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="term"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-grid fixed>
      <ion-row *ngIf="!sources?.length">
        <ion-col size=12 *ngFor="let source of fakeSources">
            <ion-skeleton-text [animated]="true" style="width: 35%"></ion-skeleton-text>
            <ion-skeleton-text [animated]="true" style="width: 75%"></ion-skeleton-text>
            <ion-skeleton-text [animated]="true" style="width: 100%"></ion-skeleton-text>
            <ion-skeleton-text [animated]="true" style="width: 85%"></ion-skeleton-text>
            <ion-skeleton-text [animated]="true" style="width: 60%"></ion-skeleton-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-md="6"  *ngFor="let source of sources | search: term;">
          <ion-list>
            <ion-item color="light">
              <ion-label>
                <ion-text>
                  <h2>
                    {{source.name}} <ion-badge>{{source.category}}</ion-badge>
                  </h2>
                </ion-text>
                <ion-text>
                  <p>{{source.description}}</p>
                </ion-text>
              </ion-label>

              <ion-icon name="arrow-forward" slot="end"></ion-icon>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>
