<ion-header>
  <ion-toolbar>
    <ion-title>Bills</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Description (máximo 30 caracteres)</ion-label>
          <ion-input [(ngModel)]="description" maxlength="30"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Amount</ion-label>
          <ion-input [(ngModel)]="amount" type="number"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-datetime [(ngModel)]="date" display-format="DD/MM/YYYY" picker-format="DD/MM/YYYY"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button expand="block" (click)="onSubmit()">Submit</ion-button>
</ion-content>
